$black: #000000;

$white: #ffffff;

$grey: #f3f5f6;

$yellow: #ffb800;

$button-bg: linear-gradient(
  0deg,
  #130999 -0.01%,
  #174d8f 35.01%,
  #1a7f87 64.91%,
  #1c9e83 87.44%,
  #1daa81 99.99%
);
